#background {
    background-image: url("https://cdn.statically.io/gh/stvlynn/cloudimg@master/blog/2310/dance_in_dream.6m3sw5nwna.webp");
    /* height: 100vh; */
    background-position: center;
    margin: 2% 2% 2% 2%;
    border-radius: 50px;
}

.title {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 60px;
    color:black;
}

#avatar {
    height: 189px;
    width: 189px;
    padding: 0;
    border-radius: 60px;
    box-shadow: 0 1.5em 1em -0.125em hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), var(--bulma-shadow-l), 0.1), 0 0px 0 1px hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), var(--bulma-shadow-l), 0.02);
}

.description {
    background-color: rgba(254,247,255,0.85);
    border-radius: 30px;
    font-family: "Noto Sans", sans-serif;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    transition: all 0.3s ease;
}

.description:hover .card-content {
    background: linear-gradient(45deg, rgba(255,255,255,0.1), rgba(255,255,255,0.5));
    border-radius: 30px;
}

.description img {
    transition: all 0.3s ease;
}

.description:hover img {
    transform: scale(1.1);
}

.label {
    border-radius: 60px;
    background-color: #65558F;
    color: white;
    padding: 10px 30px;
}

.inverted-text {
    color: #250415; 
    mix-blend-mode: color-burn;
    font-size: 30px;
    text-align: center;
  }

  hr {
    border: none;
    height: 3px;
    width: 80%;
    background-color: #E8DEF8;
    margin: 20px 0;
  }


  @keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blinkCursor {
    from, to { border-color: transparent; }
    50% { border-color: inherit; }
  }
  
  .typewriter {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    border-right: 0.15em solid;
    animation: 
      typewriter 3.5s steps(40, end),
      blinkCursor 0.75s step-end infinite;
  }